<template>
  <div id="app">
    <AddTodo v-on:add-todo="addTodo"></AddTodo>
    <Todos v-bind:todos="todos" v-on:del-todo="deleteTodo"></Todos>
  </div>
</template>

<script>
import Todos from '../components/Todos';
import AddTodo from '../components/AddTodo';
import axios from 'axios';
export default {
  name: 'home',
  components: {
    Todos,
    AddTodo
  },

  data() {
    return {
      todos: []
    }
  },

  methods: {
    deleteTodo(id) {
      axios.delete('https://jsonplaceholder.typicode.com/todos/'+id)
      .then(this.todos = this.todos.filter(todo => todo.id !== id))
      .catch(error => console.log(error));
    },

    addTodo(newTodo) {
      const { title, completed } = newTodo;
      axios.post('https://jsonplaceholder.typicode.com/todos', {
        title,
        completed
      })
      .then(response => this.todos = [...this.todos, response.data])
      .catch();
    }
  },

  created() {
    axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
      .then(response => this.todos = response.data)
      .catch(error => console.log(error));
  }
}
</script>

<style>
  
  .btn {
    display: inline-block;
    border: none;
    background: #1ed0c7;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #007d72;
  }
</style>
